
@import url("https://boxy-svg.com/themes/fluent.css");

/* Hide "Stroke Panel -> Miter limit" */
:host-context(bx-strokepanel) #miter-limit-subsection {
  display: none;
}

/* Hide "Typography Panel -> Path" */
:host-context(bx-typographypanel) #path-section,
:host-context(bx-typographypanel) #path-section + hr {
  display: none;
}

/* Hide "Geometry Panel -> Rotation */
:host-context([extends="bx-geometryinspector"]) #rotation-section {
  display: none;
}

/* Hide all libraries except the Forvia parts library */
:host(bx-librarypanel) #header #buttons,
:host(bx-vectorslibrarybrowser) #library-menu > *:not([value="forvia-parts"]) {
  display: none;
}
